.c-head {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;

  .logo {
    padding-top: 7px;
  }

  .ctas {
    .cta-tel,
    .cta-wa {
      a {
        margin-top: 10px;
        border: 2px solid $color_1;
        border-radius: 5px;
        padding: 7px 7px 4px 7px;
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        transition: 0.5s;
        span {
          color: $color_1;
          font-family: "Poppins-Bold";
          font-size: 0.9rem;
          display: inline-flex; /* Flex en línea */
          align-items: center; /* Centra verticalmente */
          gap: 8px;
        }
        &:hover {
          transform: translateY(-3px); /* mueve 5px hacia arriba */
        }
      }
    }
    .cta-wa {
      a {
        border: 2px solid #b8b8b8;
        span {
          color: #000;
        }
      }
      img {
        animation: vibrar_wa 0.4s ease-in-out 0s infinite;
        /* Pausa: 6s para que vibre cada 6.4s aprox (0.4s dura el shake + 6s de espera) */
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-direction: normal;
        animation-fill-mode: both;
        /* Usamos steps para que haya tiempo de pausa */
        //animation: vibrar 0.4s ease-in-out infinite;
        animation-delay: 0s;
        animation: vibrar_wa 5s ease-in-out infinite;
      }
      &:hover {
        a {
          background-color: #dbdbdb;
        }
      }
    }
    .cta-tel {
      img {
        animation: vibrar 0.4s ease-in-out 0s infinite;
        /* Pausa: 6s para que vibre cada 6.4s aprox (0.4s dura el shake + 6s de espera) */
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-direction: normal;
        animation-fill-mode: both;
        /* Usamos steps para que haya tiempo de pausa */
        //animation: vibrar 0.4s ease-in-out infinite;
        animation-delay: 0s;
        animation: vibrar 5s ease-in-out infinite;
      }
      &:hover {
        a {
          background-color: #e1b8ff;
        }
      }
    }
  }
  .menu {
    ul {
      margin-top: 15px;
      display: inline-flex;
      list-style: none;
      li {
        margin-left: 7px;
        margin-right: 7px;
        position: relative;

        a {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-family: "Poppins-Bold";
          font-size: 0.75rem;
          transition: 0.3s;
          &:hover {
            color: $color_1;
          }
          &.active {
            color: $color_1;
            position: relative;
            &::before {
              content: "";
              height: 2px;
              width: 80%;
              position: absolute;
              background-color: $color_1;
              position: absolute;
              //top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              //background: #3498db;
              display: flex;
              justify-content: center;
              align-items: center;
              bottom: -7px;
            }
            //color: red;
          }
        }
        ul {
          position: absolute;
          top: 100%;
          left: 0;
          background: #fff;
          //display: none;
          min-width: 210px;
          list-style: none;
          padding: 5px 7px;
          margin: 0;
          display: block;
          opacity: 0;
          visibility: hidden;
          transform: translateY(10px);
          transition: all 0.3s ease;
          li {
            transition: all 0.3s ease;
            a {
              &.active {
                &::before {
                  height: 0px;
                }
              }
            }
          }
        }
        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            li {
              padding-bottom: 5px;
              &:hover {
                padding-left: 3px;
              }
            }
          }
        }
        &.has-children {
          ul {
            //position: relative;
            padding: 0px;
            li {
              border-bottom: 1px solid #cccccc;
              padding: 7px 12px 7px 7px;
              position: relative;
              &::after {
                position: absolute;
                font-family: "FontAwesome";
                content: "\f054";
                font-size: 0.8rem;
                right: 5px;
              }
              a {
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
  .btn-menu {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background-color: $color_1;

    justify-content: center;
    align-items: center;
    z-index: 9999999;
    display: block;
    text-align: center;
    font-size: 1rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    span {
      font-size: 0.7rem;
      display: grid;
      margin-top: -5px;
    }
  }
}

.menu-xs {
  background-color: #fff;
  border-top-left-radius: 14px;
  width: 100%;
  max-width: 345px;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  transition: 0.3s;
  overflow-y: auto;
  z-index: 9999;
  padding: 30px;

  &.active {
    right: 0;
    -webkit-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
    box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
  }

  .cerrar {
    text-align: right;

    .fa-cmln {
      font-size: 1.5rem;
    }
  }

  ul {
    position: relative;
    list-style: none;
    li {
      position: relative;
      &.active {
        a {
          //font-family: 'Poppins-Bold';
        }
      }
      &::before {
        content: "\f054";
        font-family: "FontAwesome";
        font-weight: 900;
        position: absolute;
        left: -20px;
        top: 15px;
        color: #a4ff48;
      }
    }
  }

  .item {
    padding-top: 15px;
    //padding-bottom: 15px;
    //border-bottom: solid 2px #eaebf4;

    a {
      margin: 0px;
      text-decoration: none;
      color: $color_1;
      font-family: "Poppins-Medium";
      text-transform: uppercase;
    }
  }
}

.header-title {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: $color_1;
  /* background-image: url("../img/bg-cover.png"); */
  background-size: cover;
  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    color: #fff;
    font-size: 1.2rem;
  }
}

.header-title-img {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/bg-header-title-img.png");
  background-size: cover;
  h2 {
    color: $color_1;
  }
  .btn-1 {
    background-color: $color_1;
    color: #fff;
    &:hover {
      color: #000;
    }
  }
}

.btns-contact-xs {
  display: none;
}

@keyframes vibrar {
  /* --- Fase de vibración (0 s–0.4 s aprox) --- */
  0%,
  1% {
    transform: translate(0, 0) rotate(0deg);
  }
  2% {
    transform: translate(-2px, 0) rotate(-5deg);
  }
  4% {
    transform: translate(2px, 0) rotate(5deg);
  }
  6% {
    transform: translate(-2px, 0) rotate(-5deg);
  }
  8% {
    transform: translate(2px, 0) rotate(5deg);
  }
  10% {
    transform: translate(0, 0) rotate(0deg);
  }

  /* --- Resto del tiempo quieto (0.4 s–5 s) --- */
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes vibrar_wa {
  /* --- Fase de vibración (0 s–0.4 s aprox) --- */
  0%,
  1% {
    transform: translate(0, 0) rotate(0deg);
  }
  2% {
    transform: translate(-2px, 0) rotate(-5deg);
  }
  4% {
    transform: translate(2px, 0) rotate(5deg);
  }
  6% {
    transform: translate(-2px, 0) rotate(-5deg);
  }
  8% {
    transform: translate(2px, 0) rotate(5deg);
  }
  10% {
    transform: translate(0, 0) rotate(0deg);
  }

  /* --- Resto del tiempo quieto (0.4 s–5 s) --- */
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-title-img {
    background-image: none;
    background-color: #fff;
    padding-top: 90px;
    .txt {
      padding-top: 30px;
    }
  }
  .header-title {
    padding-bottom: 50px;
    margin-top: 30px;
  }
  .btns-contact-xs {
    display: block;
    position: relative;
    display: contents;
    // .c-content {
    //   position: fixed;
    //   bottom: 0px;
    //   width: 100%;
    //   z-index: 99999999;
    //   .c-btn {
    //     background-color: #fff;
    //     text-align: center;
    //     a {
    //       text-decoration: none;
    //       span {
    //         height: 35px;
    //         color: #fff;
    //         display: inline-flex;
    //         justify-content: center;
    //         align-items: center;
    //         i{
    //           font-size: 1.3rem;
    //         }
    //       }
    //     }
    //     &.btn-wsp {
    //       background-color: #01bf00;
    //     }
    //     &.btn-tel{
    //       background-color: $color_1;
    //       span{
    //         i{
    //           font-size: 1.1rem;
    //         }
    //       }
    //     }
    //   }
    // }
    .c-content {
      .c-btn {
        position: fixed;
        height: 50px;
        width: 50px;
        bottom: 20px;
        right: 20px;
        z-index: 99999999;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.39);
        -webkit-box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.39);
        a {
          text-decoration: none;
          span {
            color: #fff;

            i {
              font-size: 1.3rem;
            }
          }
        }
        &.btn-wsp {
          background-color: #01bf00;
        }
        &.btn-tel {
          bottom: 75px;
          background-color: $color_1;
          span {
            i {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 820px) and (orientation: landscape) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .c-head {
    .img-age {
      img {
        max-height: 65px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
