/* Error: expected "}".
 *     ,
 * 310 | }
 *     |  ^
 *     '
 *   assets/sass-v2/_woocommerce.scss 310:2  @import
 *   assets/sass-v2/cmln-style.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 310 \2502  }\a     \2502   ^\a     \2575 \a   assets/sass-v2/_woocommerce.scss 310:2  @import\a   assets/sass-v2/cmln-style.scss 4:9      root stylesheet';
}
