.notas_de_blog {
    article {
        figure {
            height: 180px;
            overflow: hidden;
            border-radius: 7px 7px 7px 7px;
            background-color: #000;
            margin-bottom: 5px;

            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        

        h3 {
            font-size: 1.2rem;
            margin-top: 10px;
            margin-bottom: 15px;
            a{
                color: #9301ff !important;
            }
        }
        .fecha-publicacion {
            font-size: .8rem;
            color: #919191;
        }

        .btn-cta {
            text-decoration: none;
            background: #9301ff;
            color: #FFF;
            border-radius: 5px;
            padding: 7px 10px;
            border: 1px solid #9301ff;
            transition: .3s;

        }
    }
}

.single_blog {
    .compartir-redes {
        text-align: center;

        span {
            font-size: 1.3rem;
            display: block;
        }

        a {
            text-decoration: none;
            color: #9301ff;
            font-size: 2rem;
        }
    }
}





@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 820px) and (orientation: landscape) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


@media only screen and (min-width: 1600px) {}